<div th:fragment="footer">
    <div class="text-body-secondary py-5">
        <div class="container">
            <p class="float-end mb-1">
                <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Вернуться наверх</font></font></a>
            </p>
            <p class="mb-1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Пример альбома — © Bootstrap, но скачайте и настройте его под себя!</font></font></p>
            <p class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Впервые в Bootstrap? </font></font><a href="/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Посетите домашнюю страницу</font></font></a><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> или прочитайте наше </font></font><a href="/docs/5.3/getting-started/introduction/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">руководство по началу работы</font></font></a><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> .</font></font></p>
        </div>
    </div>
</div>