<div th:fragment="header">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Главная</font></font></a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/blog"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Блог</font></font></a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/blog/add"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Добавить статью</font></font></a>
            <a class="py-2 link-body-emphasis text-decoration-none" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">О нашем проекте</font></font></a>
        </nav>
    </div>
</div>