<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
</head>
<body>
    <header th:insert="blocks/header :: header">
    </header>
<!--    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">-->
<!--        <h1 class="display-4 fw-normal text-body-emphasis"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Цены</font></font></h1>-->
<!--        <p class="fs-5 text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Быстро создайте эффективную таблицу цен для своих потенциальных клиентов с помощью этого примера Bootstrap. </font><font style="vertical-align: inherit;">Он построен с использованием компонентов и утилит Bootstrap по умолчанию с небольшой настройкой.</font></font></p>-->
<!--    </div>-->
    <main>

        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Пример Блога</font></font></h1>
                    <p class="lead text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Что-нибудь короткое и важное о коллекции ниже — о ее содержании, создателе и т. д. Сделайте ее короткой и понятной, но не слишком короткой, чтобы люди просто не пропустили ее полностью.</font></font></p>
                    <p>
                        <a href="#" class="btn btn-primary my-2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Главный призыв к действию</font></font></a>
                        <a href="#" class="btn btn-secondary my-2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Вторичное действие</font></font></a>
                    </p>
                </div>
            </div>
        </section>

        <div class="album py-5 bg-body-tertiary">
            <div class="container">

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Заполнитель: Миниатюра" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                            <div class="card-body">
                                <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Это более широкая карточка с вспомогательным текстом ниже, который является естественным переходом к дополнительному контенту. </font><font style="vertical-align: inherit;">Этот контент немного длиннее.</font></font></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Вид</font></font></button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Редактировать</font></font></button>
                                    </div>
                                    <small class="text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">9 минут</font></font></small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Заполнитель: Миниатюра" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                            <div class="card-body">
                                <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Это более широкая карточка с вспомогательным текстом ниже, который является естественным переходом к дополнительному контенту. </font><font style="vertical-align: inherit;">Этот контент немного длиннее.</font></font></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Вид</font></font></button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Редактировать</font></font></button>
                                    </div>
                                    <small class="text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">9 минут</font></font></small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Заполнитель: Миниатюра" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                            <div class="card-body">
                                <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Это более широкая карточка с вспомогательным текстом ниже, который является естественным переходом к дополнительному контенту. </font><font style="vertical-align: inherit;">Этот контент немного длиннее.</font></font></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Вид</font></font></button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Редактировать</font></font></button>
                                    </div>
                                    <small class="text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">9 минут</font></font></small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Заполнитель: Миниатюра" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                            <div class="card-body">
                                <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Это более широкая карточка с вспомогательным текстом ниже, который является естественным переходом к дополнительному контенту. </font><font style="vertical-align: inherit;">Этот контент немного длиннее.</font></font></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Вид</font></font></button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Редактировать</font></font></button>
                                    </div>
                                    <small class="text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">9 минут</font></font></small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Заполнитель: Миниатюра" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                            <div class="card-body">
                                <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Это более широкая карточка с вспомогательным текстом ниже, который является естественным переходом к дополнительному контенту. </font><font style="vertical-align: inherit;">Этот контент немного длиннее.</font></font></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Вид</font></font></button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Редактировать</font></font></button>
                                    </div>
                                    <small class="text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">9 минут</font></font></small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Заполнитель: Миниатюра" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                            <div class="card-body">
                                <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Это более широкая карточка с вспомогательным текстом ниже, который является естественным переходом к дополнительному контенту. </font><font style="vertical-align: inherit;">Этот контент немного длиннее.</font></font></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Вид</font></font></button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Редактировать</font></font></button>
                                    </div>
                                    <small class="text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">9 минут</font></font></small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Заполнитель: Миниатюра" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                            <div class="card-body">
                                <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Это более широкая карточка с вспомогательным текстом ниже, который является естественным переходом к дополнительному контенту. </font><font style="vertical-align: inherit;">Этот контент немного длиннее.</font></font></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Вид</font></font></button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Редактировать</font></font></button>
                                    </div>
                                    <small class="text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">9 минут</font></font></small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Заполнитель: Миниатюра" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                            <div class="card-body">
                                <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Это более широкая карточка с вспомогательным текстом ниже, который является естественным переходом к дополнительному контенту. </font><font style="vertical-align: inherit;">Этот контент немного длиннее.</font></font></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Вид</font></font></button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Редактировать</font></font></button>
                                    </div>
                                    <small class="text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">9 минут</font></font></small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Заполнитель: Миниатюра" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                            <div class="card-body">
                                <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Это более широкая карточка с вспомогательным текстом ниже, который является естественным переходом к дополнительному контенту. </font><font style="vertical-align: inherit;">Этот контент немного длиннее.</font></font></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Вид</font></font></button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Редактировать</font></font></button>
                                    </div>
                                    <small class="text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">9 минут</font></font></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div th:insert="blocks/footer :: footer">
    </div>
<p th:text="'Hello, ' + ${title} + '!'">
</body>
</html>